.app-font {
  font-family: "JetBrains Mono", sans-serif;
}
.text-preview {
  white-space: pre-line;
  overflow-wrap: break-word;
  font-family: "Jura";
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
}

.nuxt-icon svg {
  width:  100%;
  height: auto;
  margin-bottom: 0;
}

.shadow {
  filter: drop-shadow( 1px 1px 1px black);
  -webkit-filter: drop-shadow( 1px 1px 1px black);
}

/* TRANSITIONS */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.up-enter-active,
.up-leave-active {
  transition: all 0.8s ease;
}
.up-enter-from,
.up-leave-to {
  opacity: 0;
  transform: translateY(40px);
}

.flip-horizontally {
  transform: scaleX(-1);
}