/*
 * 1977
 *
 */

.red_mult {
  position: relative;
  /* -webkit-filter: contrast(1.1) brightness(1.1) saturate(1.3); */
  /* filter: contrast(1.1) brightness(1.1) saturate(1.3); */
}

.red_mult img {
  width: 100%;
  z-index: 1;
}

.red_mult:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.red_mult:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}

.red_mult:after {
  background: #ff0000;
  mix-blend-mode: multiply;
}
